body{
    background-color:#8D8DAA;
    padding-top:0;
    padding-left: 5px;
}
img{
   background-color:whitesmoke;
 padding:20px;
border-radius:100px;
height:100px;
width:100px;
}
ol{
    
    list-style: none;
}

hr{
    height: 10px;
    color: white;
    margin-top: 0;
}

    
h4{
    font-size: medium;
}
.linked{
    text-decoration: underline;
    font-size: small;
    color: purple;
   

}
.num{
    text-decoration: underline;
    font-size: medium;
color:purple; 
    
}
.email{
    text-decoration: underline;
    font-size: small;
    color:purple;
   

}
.linked{
    font-size: small;
    color: purple;
}
.GitHub{
    font-size: small;
    color: purple;
}
